# env files
*.env
*.env*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out


# IDE/editor specific files
*.idea/
.vscode/

# Go workspace file
go.work
go.work.sum

# Temporary files created by the Go build process
tmp/
pkg/

# Cache directories created by Go tools

# CGO (foreign function interface) cache
_cgo_defunct.c
_cgo_export.h

# Build cache
build/

# config file
config.toml

# folders
settings

# binaries
learn_golang*

# misc files
person.yaml
blog.yaml